SECRET_KEY=change-this-secret-key
DEBUG=True

STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxx

FRONTEND_SUCCESS_URL=http://localhost:5173/order-success
FRONTEND_CANCEL_URL=http://localhost:5173/order-cancel
